// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary   : #fbd788
$secondary : #ffa552
$accent    : #ba5624

$dark      : #381d2a
$dark-page : #2b1620
$white     : white

$positive  : #c4d6b0
$negative  : #e35263
$info      : #b4e6f0
$warning   : #ffd154
